:root {
  --primary-color: #c8472c;
  --secondary-color: #412a1e;
  --tertiary-color: #f8de3c;
  --accent-color: #fefefe;
  --foreground-color: #58acf4;
  --text-color: #7cff6a;
  --link-color: #0b3075;
  --hover-color: #105edd;
  --transparent: transparent;
  --border-radius: 0px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;
  --container-width: 1200px;
  --input-width: 250px;
  --annoucer-height: 40px;
  --footer-height: 40px;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --border: 2px solid var(--hover-color);
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: "Pirata One", cursive;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
}

.wideScreenWrapper {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: var(--spacing-lg);
  gap: var(--spacing-lg);
}

.nameModal {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.nameInput {
  font-size: inherit;
  font-family: inherit;
  width: var(--input-width);
  border-radius: var(--border-radius);
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--transparent);
  color: var(--accent-color);
  border: var(--border);
  outline: none;
}

.nameSubmit {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
}

/* FOOTER */
.footer {
  height: var(--footer-height);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 100%;
  grid-row: 3 / 4;
}

.fa-github {
  font-size: 18px;
  margin-top: 2px;
  transition: transform 0.3s ease-in-out;
  filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(53deg) brightness(108%)
    contrast(106%);
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */
